@media screen and (min-width: 768px) {
  nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #menu-button {
    display: none;
  }

  #menu-items {
    display: flex;
  }

  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}