/* temples-large.css */
@media screen and (min-width: 768px) {
  nav {
    display: flex !important;
    justify-content: center;
    flex-direction: row;
  }

  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  #menu-button {
    display: none;
  }

  #menu-items {
    display: flex !important;
  }
}