@media screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  #menu-items {
    display: block !important;
  }

 
    #menu-items ul {
    display: flex !important;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
  }



  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
    #menu-button {
    display: none;
  }


}